{% extends "base.html" %}

{% block head -%}
  {{ super() -}}
  {% set desc = (OG[DEFAULT_LANG]['description'] | striptags) %}
  <meta name="description" content="{{ desc | truncate(150) | e }}" />
  <meta property="og:description" content="{{ desc | truncate(150) | e }}" />
  <meta property="og:title" content="{{ SITENAME|striptags }} — {{ _('Authors') }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ SITEURL }}/authors/" />
  <meta property="og:image" content="{{ OG['image'] }}" />
{% endblock %}

{% block title %}{{ SITENAME|striptags }} - {{ _('Authors') }}{% endblock %}

{% block content %}

    <section id="content" class="body">
        <h1>{{ _('Authors on') }} {{ SITENAME }}</h1>
        <ul>
            {% for author, articles in authors|sort %}
                <li><a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a> ({{ articles|count }})</li>
            {% endfor %}
        </ul>
    </section>

{% endblock %}
