{% extends "base.html" %}

{% block head -%}
    {{ super() -}}
    {# Safe description for categories list #}
    {% set desc = (OG[DEFAULT_LANG]['description'] | striptags) %}
    <meta name="description" content="{{ desc | truncate(150) | e }}" />
    <meta property="og:description" content="{{ desc | truncate(150) | e }}" />
    <meta property="og:title" content="{{ OG[DEFAULT_LANG]['title'] | striptags }} - {{ _('Categories') }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ SITEURL }}" />
    <meta property="og:image" content="{{ OG['image'] }}" />
{% endblock %}

{% block title %}{{ SITENAME|striptags }} - {{ _('Categories') }}{% endblock %}

{% block content %}

    <section id="content" class="body">
        <h1>{{ _('Categories for') }} {{ SITENAME }}</h1>
        <ul>
            {% for category, articles in categories|sort %}
                <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> ({{ articles|count }})</li>
            {% endfor %}
        </ul>
    </section>

{% endblock %}
