{% extends "base.html" %}
{% block head -%}
  {{ super() -}}
  {% include '_meta.html' %}
{% endblock %}
{% block content %}
<div id="container">
  <div id="tilesView">
    <div id="tilesContainer"></div>
  </div>
</div>
<div class="modal" id="modal">
  <span class="modal-close" id="modalClose">×</span>
  <img class="modal-content" id="modalImage" src="">
  <div class="modal-content" id="modalVideo"></div>
</div>

<script src="/theme/js/gallery.js" defer></script>
{% endblock %}
{% block title %}{{ SITENAME|striptags }} - {{ page.title }}{% endblock %}