{% extends "base.html" %}
{% block head %}
  {{ super() -}}
    {% set desc = (page.summary | striptags) if page.summary else (OG[DEFAULT_LANG]['description'] | striptags) %}
    <meta name="description" content="{{ desc | truncate(150) | e }}" />
    <meta property="og:description" content="{{ desc | truncate(150) | e }}" />

  <meta property="og:title" content="{{ SITENAME|striptags }} — {{ page.title | striptags }}" />
  <meta property="og:type" content="page" />
  <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}" />
  
  <meta property="og:image" content="{{ page.metadata.image or OG['image'] }}" />
  
  <meta property="page:author" content="{{ page.author_url or page.author or OG['author'] | striptags | safe }}" />
  
  {% if page.date %}
    <meta property="page:published_time" content="{{ page.date.isoformat() }}" />
  {% endif %}
  
  {% if page.modified %}
    <meta property="page:modified_time" content="{{ page.modified.isoformat() }}" />
    <meta property="og:updated_time" content="{{ page.modified.isoformat() }}" />
  {% endif %}
  
  {% if page.category %}
    <meta property="page:section" content="{{ page.category | striptags | safe }}" />
  {% endif %}
  
  {% if page.tags %}
    {% for tag in page.tags %}
      <meta property="page:tag" content="{{ tag | striptags | safe }}" />
    {% endfor %}
  {% endif %}
{% endblock %}
{% block html_lang %}{{ page.lang }}{% endblock %}
{% block title %}{{ page.title|striptags }}{% endblock %}



{% block extra_head %}
  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}
{% endblock %}

{% block content %}
  <section id="content" class="body">
    <h1 class="entry-title">{{ page.title }}</h1>
    {% import 'translations.html' as translations with context %}
    {{ page.content }}
  </section>
{% endblock %}
